/* AboutMe Section */

.carousel-box {
    width: 100%;
}

.image-box {
    width: 90%;
    margin: 0 auto;
    background-color: bisque;
    padding: 10px 10px;
    border-radius: 50px;
}

.image-box img {
    box-shadow:  5px 5px 5px red;
    display: block;
    margin:  auto;
    max-width: 90%;
    height: 300px;
    border-radius: 50px;
    min-width: 70%;
    object-fit: scale-down;
    background-color: black;
}

.carousel-buttons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.carousel-buttons button {
    width: 48%;
    height: auto;
    padding: 10px 10px;
    border-radius: 10px;
}

/* --- */

