
.tile {
    width: 60%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px red;
}

.tile a {
    display: flex;
    align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 120px;
}

.img-container img {
    width: 50%;
    height: 50%;
}

.url-container p {
    display: block;
    margin: auto;
}