.description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.description-container {
    width: 80%;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}
