.carousel-box {
    width: 100%;
}

.image-box {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 10px 10px;
    border-radius: 50px;
}

.image-box img {
    display: block;
    margin:  auto;
    max-width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit: scale-down;
}

