#tile {
    width: 25%;
    height: 200px;
    background-color: lightgreen;
    float: left;
    border-radius: 20%;
    margin: 25px 25px;
}

#tile a {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile p {
    text-align: center;
}